<div class="col-lg-4">
  <h3>
    <%= link_to product.name, business_product_path(product.business, product) %>
    <%#= product.name %>
  </h3>
  <br>
  <%= image_tag product.photo.url(:medium) %>

  <br>
  <br>

  <%= product.description %>
</div>
